<!--
 * @Date: 2021-05-11 14:11:40
 * @LastEditors: liangdong.xu
 * @LastEditTime: 2021-05-11 14:11:40
 * @FilePath: /my-gitlab-koa2/view/index.ejs
-->

<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>
</body>
</html>